<tr>
  <td> <%= medic.nume %> </td>
  <td> <%= medic.prenume %> </td>
  <td> <%= medic.sectie %> </td>
  <td> <%= medic.telefon %> </td>
  <td> <%= medic.email %> </td>
  <td> <%= medic.consults.length %></td>
  <td><%= link_to 'Vezi Consultaţii', medic%></td>
  <td><%= link_to 'Modifică ', edit_medic_path(medic)%></td> 
  <td> <%= link_to "Şterge", medic, method: :delete, data: { confirm: "Ştergeţi medicul: " + medic.nume + ' ' + medic.prenume + "?" } %></td>

</tr>