<% provide(:title, 'Adauga Medic') %>
<h1>Adauga Medic</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@medic) do |f| %>
      <%= f.label :nume %>
      <%= f.text_field :nume %>

      <%= f.label :prenume %>
      <%= f.text_field :prenume %>

      <%= f.label :telefon %>
      <%= f.text_field :telefon %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :sectie %>
      <%= f.select :sectie, Medic.sectii %>

      <%= f.submit "Adauga", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>