<h3 id="content"><%=@medic.nume %> <%= @medic.prenume %></h2>
<h2 id="content"><b>Sectia:</b> <%=@medic.sectie %></h2>
<h2 id="content"><b>Telefon:</b> <%=@medic.telefon %></h2>
<h2 id="content"><b>Email:</b> <%=@medic.email %></h2>
<h2>Consultatii:</h2>
<div class="row">
  
  <table class="table">
    <thead>
      <tr>
        <th>Pacient</th>
        <th>Diagnostic</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      
        <% @consultatii.each do |co|%>
          <tr>
          <td> <%= Pacient.find(co.pacient_id).nume + ' ' + Pacient.find(co.pacient_id).prenume %> </td>
          <td> <%= co.diagnostic  %> </td>
          <td> <%= co.data  %> </td>
          </tr>
        <% end %>
      
    </tbody>
    
  </table>
 
</div>