<tr>
  <td> <%= pacient.nume %> </td>
  <td> <%= pacient.prenume %> </td>
  <td> <%= pacient.varsta %> </td>
  <td> <%= pacient.telefon %> </td>
  <td> <%= pacient.email %> </td>
  <td> <%= pacient.adresa %> </td>
  <td> <%= pacient.consults.length %></td>
  <td><%= link_to 'Vezi Consultaţii', pacient%></td>
  <td><%= link_to 'Modifică ', edit_pacient_path(pacient)%></td> 
  <td> <%= link_to "Şterge", pacient, method: :delete, data: { confirm: "Ştergeţi pacientul: " + pacient.nume + ' ' + pacient.prenume + "?" } %></td>

</tr>