<h3 id="content"><%=@pacient.nume %> <%= @pacient.prenume %></h2>
<h2 id="content"><b>Adresa:</b> <%=@pacient.adresa %></h2>
<h2 id="content"><b>Varsta:</b> <%=@pacient.varsta %> ani</h2>
<h2 id="content"><b>Telefon:</b> <%=@pacient.telefon %> ani</h2>
<h2 id="content"><b>Email:</b> <%=@pacient.email %></h2>
<h2>Consultatii:</h2>
<div class="row">
  
  <table class="table">
    <thead>
      <tr>
        <th>Medic</th>
        <th>Diagnostic</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      
        <% @consultatii.each do |co|%>
          <tr>
          <td> <%= Medic.find(co.medic_id).nume + ' ' + Medic.find(co.medic_id).prenume %> </td>
          <td> <%= co.diagnostic  %> </td>
          <td> <%= co.data  %> </td>
          </tr>
        <% end %>
      
    </tbody>
    
  </table>
 
</div>